.dropBox {
  width: 100%;
  margin-top: 20px;
}

.dropBox label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--gray-900);
  font-weight: 700;
}

.dropBox select {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--gray-700);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.dropBox select:focus {
  border: 1.5px solid var(--blue-100);
  box-shadow: 0px 0px 3px var(--blue-300);
}

.dropBox select::placeholder{
    color: #C8C8C8;
}


